.divider {
	border-left: 5px solid green;
	margin-top: 20px;
	margin-left: 100px;
}

.reset-password {
	height: 60vh;
	width: 50%;
}

.product-card {
	width: 22rem;
}

.nav-content-custom {
	display: flex;
}

.mobile-nav {
	display: none;
}

.add-to-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: fixed;
	z-index: 999;
	top: 80%;
	left: 83%;
	box-shadow: 5px 5px 5px 0.9px;
	background-color: green;
}

.add-to-cart i {
	cursor: pointer;
	color: white;
}

.add-to-cart i > span {
	position: absolute;
	left: 55px;
	top: 24px;
}

@media only screen and (max-width: 568px) {
	.divider {
		display: none;
	}
	.reset-password {
		height: 60vh;
		width: 100%;
	}
	.product-card {
		width: 100%;
	}

	.nav-content-custom {
		display: none !important;
	}

	.mobile-nav {
		display: flex !important;
	}

	.category-page {
		flex-direction: column !important;
	}

	.category-page > div {
		width: 100% !important;
	}

	.add-to-cart {
		width: 90px;
		height: 90px;
		top: 80%;
		left: 63%;
	}

	.cart-table {
		width: 100% !important;
	}
}
