.divider {
	border-left: 5px solid green;
	margin-top: 20px;
	margin-left: 100px;
}

.reset-password {
	height: 60vh;
	width: 50%;
}

.product-card {
	width: 22rem;
}

.nav-content-custom {
	display: flex;
}

.mobile-nav {
	display: none;
}

@media only screen and (max-width: 568px) {
	.divider {
		display: none;
	}
	.reset-password {
		height: 60vh;
		width: 100%;
	}
	.product-card {
		width: 100%;
	}

	.nav-content-custom {
		display: none !important;
	}

	.mobile-nav {
		display: flex !important;
	}
}
